<ion-header>

  <ion-navbar>
    <ion-title>Profile for</ion-title>
  </ion-navbar>

</ion-header>


<ion-content align="center">
  <ion-row>
    <ion-col>
        <ion-card>
            <ion-card-content>
              <ion-card-title>
                  <ion-icon name="contact"></ion-icon>
                </ion-card-title>
              <p>
                Self
              </p>
            </ion-card-content>
        </ion-card>
    </ion-col>
    <ion-col>
        <ion-card>
            <ion-card-content>
              <ion-card-title>
                  <ion-icon name="contact"></ion-icon>
                </ion-card-title>
              <p>
                Relative
              </p>
            </ion-card-content>
        </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col>
          <ion-card>
              <ion-card-content>
                <ion-card-title>
                    <ion-icon name="contact"></ion-icon>
                  </ion-card-title>
                <p>
                  Self
                </p>
              </ion-card-content>
          </ion-card>
      </ion-col>
      <ion-col>
          <ion-card>
              <ion-card-content>
                <ion-card-title>
                    <ion-icon name="contact"></ion-icon>
                  </ion-card-title>
                <p>
                  Relative
                </p>
              </ion-card-content>
          </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-card>
                <ion-card-content>
                  <ion-card-title>
                      <ion-icon name="contact"></ion-icon>
                    </ion-card-title>
                  <p>
                    Self
                  </p>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-card-content>
                  <ion-card-title>
                      <ion-icon name="contact"></ion-icon>
                    </ion-card-title>
                  <p>
                    Relative
                  </p>
                </ion-card-content>
            </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
    <ion-col>
        <ion-card>
            <ion-card-content>
              <ion-card-title>
                  <ion-icon name="contact"></ion-icon>
                </ion-card-title>
              <p>
                Self
              </p>
            </ion-card-content>
        </ion-card>
    </ion-col>
    <ion-col>
        <ion-card>
            <ion-card-content>
              <ion-card-title>
                  <ion-icon name="contact"></ion-icon>
                </ion-card-title>
              <p>
                Relative
              </p>
            </ion-card-content>
        </ion-card>
    </ion-col>
  </ion-row>
  <button (click)="goToPD()">go to next page.. I am temp</button>
</ion-content>
