page-register-pf {
    ion-card{
        border: 1px solid ghostwhite;
        margin: 0!important;
        width: 100%!important;
        height: calc(80vh/4);
        border-radius: 0!important;
    }
    ion-col{
        margin: 0!important;
        padding: 0!important;
    }
}
