<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content align="center" padding>
    <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='togglePassword()'></ion-icon>
        <ion-label floating>Password</ion-label>
        <ion-input type={{passwordType}}></ion-input>
      </ion-item>
      <br/>
      <ion-row>
          <ion-col>
              <button ion-button block>Login</button>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              Forgot password?
          </ion-col>
      </ion-row>
</ion-content>
<ion-footer no-border padding>
    <ion-row>
        <ion-col>
            <button ion-button block>Continue with Facebook</button>
        </ion-col>
    </ion-row>
</ion-footer>
