<ion-header>

  <ion-navbar>
    <ion-title>Verify Number</ion-title>
  </ion-navbar>

</ion-header>


<ion-content align="center" padding>
  <p>An OTP has been send +91-xxxxxxxxxx</p>
  <ion-item style="width:130px!important ;margin:auto;">
    <ion-input text-center placeholder="Enter OTP" type="number"></ion-input>
  </ion-item>
  <p>Not received your code? <a>Resend Code</a></p>
</ion-content>
<ion-footer no-border padding>
  <ion-row>
    <ion-col>
      <button (click)="goToHome()" ion-button block>Submit</button>
    </ion-col>
  </ion-row>
</ion-footer>