<ion-header>

    <ion-navbar>
      <ion-title>Career Detail</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      <ion-item>
          <ion-label floating>Highest Education</ion-label>
          <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>UG College</ion-label>
          <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Work Area</ion-label>
          <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Income</ion-label>
          <ion-input type="text"></ion-input>
      </ion-item>
  </ion-content>
  <ion-footer no-border padding>
      <ion-row>
          <ion-col>
              <button (click)="goToSD()" ion-button block>Next</button>
          </ion-col>
      </ion-row>
  </ion-footer>
  