<ion-header>

    <ion-navbar>
      <ion-title>Login Detail</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      <ion-item>
          <ion-label floating>Full Name</ion-label>
          <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Email ID</ion-label>
          <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='togglePassword()'></ion-icon>
          <ion-label floating>Password</ion-label>
          <ion-input type={{passwordType}}></ion-input>
        </ion-item>
      <ion-item>
          <ion-label floating>Mother Tongue</ion-label>
          <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Phone no.</ion-label>
          <ion-input type="text" value="+91"></ion-input>
      </ion-item>
  </ion-content>
  <ion-footer no-border padding>
      <ion-row>
          <ion-col>
              <button (click)="verifyNumber()" ion-button block>Next</button>
          </ion-col>
      </ion-row>
  </ion-footer>
  