<ion-header>

  <ion-navbar>
    <ion-title>Personal Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
        <ion-label floating>Date of birth</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>Height</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>Country</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>City</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
</ion-content>
<ion-footer no-border padding>
    <ion-row>
        <ion-col>
            <button (click)="goToCD()" ion-button block>Next</button>
        </ion-col>
    </ion-row>
</ion-footer>
