<ion-header>

    <ion-navbar>
      <ion-title>Social Detail</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      <ion-item>
          <ion-label floating>Marital Status</ion-label>
          <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Have Children</ion-label>
          <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Mother Tongue</ion-label>
          <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Religion</ion-label>
          <ion-input type="text"></ion-input>
      </ion-item>
  </ion-content>
  <ion-footer no-border padding>
      <ion-row>
          <ion-col>
              <button (click)="goToLD()" ion-button block>Next</button>
          </ion-col>
      </ion-row>
  </ion-footer>
  