page-login-signup {
    ion-content {
        background: url('https://picsum.photos/1080/720/?image=372') no-repeat center center fixed; 
        -webkit-background-image: url('https://picsum.photos/1080/720/?image=372') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    ion-slides{
        height: calc(0.5*100vh);
    }
    ion-slide{
        img{
               height:100vh!important; 
               width:100%!important; 
          }
       }
}
