<ion-content>
</ion-content>
<ion-footer align="center" no-border padding>
    <ion-slides pager=true effect="slide" autoplay="1000" loop="true" speed="1000">
        <ion-slide >
          <p>Hi</p>
        </ion-slide>
        <ion-slide >
            We Are Buttons
            <ion-row>
                <ion-col>
                    <button ion-button block>Block Button</button>
                </ion-col>
                <ion-col>
                    <button ion-button block>Block Button</button>
                </ion-col>
              </ion-row>
        </ion-slide>
        <ion-slide >
          <img src="https://picsum.photos/1080/720/?random">
        </ion-slide>
      </ion-slides>
      <br/>
  <ion-row>
    <ion-col>
        <button (click)="goToLogin()" ion-button block>Login</button>
    </ion-col>
    <ion-col>
        <button (click)="goToRegister()" ion-button block>Register</button>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col>
          <button (click)="login()" ion-button block>Login with Facebook</button>
      </ion-col>
  </ion-row>
  <ion-row>
      <ion-col>
          <button ion-button block>Search</button>
      </ion-col>
  </ion-row>
  <br/>
</ion-footer>
